# API e Server
fastapi
uvicorn
python-multipart

# Machine Learning e NLP
transformers
torch
scipy

# Monitoraggio e Analisi
pandas
numpy>=2.2.0,<2.3.0
evidently
huggingface_hub
requests

# Testing
pytest
httpx

# Data
supabase==2.13.0
